<section class="article-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-8">
                <div class="article-body">
                    <p class="lead">
                    Our First Article</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                    </p>
                    <figure>
                        <img alt="Blog Article Figure" src="img/project3.jpg">
                        <figcaption>Here is a caption for this picture</figcaption>
                    </figure>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    </p>
                    <h2>A mid-post heading for some attention</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                    </p>
                    <blockquote>
                        “Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est”
                    </blockquote>
                    <p>
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-list-3 bg-white">
    <div class="blog-snippet-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-sm-offset-1">
                    <div class="article-body">
                        <i class="icon icon_calendar"></i><span class="alt-font">Published 15th July 2014</span><br>
                        <i class="icon icon_clock_alt"></i><span class="alt-font">5 minute read</span>
                        <p class="lead">
                        Our First Article</p>
                        <p>
                            Oh, how this strikes fear in the hearts of many a blogger… “What will I write about?” They ask “How will I come up with a topic.” Writer’s block sets in at this point and for many, but really, it’s not a problem if you’re writing about something that you are passionate about.
                        </p>
                        <figure>
                            <img alt="Blog Article Figure" src="img/project3.jpg">
                            <figcaption>Not satisfied? Fine. We’ll give you a sure-fire way to come up with your first subject.</figcaption>
                        </figure>
                        <p>
                            Lock yourself in a room. Literally. No cell phone, no significant other, no T.V., nothing. Sit down in front of a pen and paper and write down every idea that you can think of. Don’t stop until you have a least 50-100. Then pick one. How do you pick you? You pick the one that speaks to you. How will you know which one speaks to you? It just does. Try not to over think this. Your first blog post is important, but the fate of the world doesn’t depend on it. Just your world. Kidding! Just relax, and pick one. You’ve got like a 100 to choose from, right? See, it wasn’t that hard. You’ve done it! You’ve chosen a topic. And now you have your first blog topic ready to write about to your heart’s content.
                        </p>
                        <h2>Here’s something to get your juices going: What keeps your audience up at night?</h2>
                        <p>
                            What are their hopes, dreams, problems, etc? Now pick one of these and write about it. Now we come to blog length. How long should it be? As long as a woman’s skirt: long enough to cover the goods, but short to keep it interesting. Spell check it, and be sure to test any links in it you might have to say, your twitter account or a product page.
                            <br> On a side note, always have a notebook handy.
                        </p>
                        <blockquote>
                            “Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est”
                        </blockquote>
                        <p>
                            This is a bigger question than you think. The name of the game with posting is consistency. Do you post every hour or every day or every week? You have to set a schedule and stick to it. If you’re going to make money at this, you need to have people consistently coming to your site to check out your content. It has to be new, constantly updating content. They aren’t going to be checking out your greatest hits, either. They want new, fresh content. It’s not going to help if you post ten times a day for a week and then don’t post again for another month. If you do that, you’ll come off as flakey to your readers and that’s just death to bloggers. You won’t get those readers back, and you won’t be generating any traffic or making any money, either.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-snippet-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="article-body">
                        <i class="icon icon_calendar"></i><span class="alt-font">Published 11th July 2014</span><br>
                        <i class="icon icon_clock_alt"></i><span class="alt-font">4 minute read</span>
                        <p class="lead">
                        Our First Article</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                        </p>
                        <figure>
                            <img alt="Blog Article Figure" src="img/project3.jpg">
                            <figcaption>Here is a caption for this picture</figcaption>
                        </figure>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        </p>
                        <h2>A mid-post heading for some attention</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                        </p>
                        <blockquote>
                            “Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est”
                        </blockquote>
                        <p>
                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>
                            blablabla.<br>
                            blablala<br>
                            <br>
                            <br>
                            <br>
                            <h1>New Title</h1>
                            <br>
                            <br>
                            <h2>Is this the real life?</h2>
                            <h3>Or am I just wandering?</h3>
                            <p>
                                While legitimate questions, these questions are not the questions you should be asking. 
    							Like everything important in life, there’s a thinking process you must go through to obtain good results. 
    							For example, when deciding what to eat for lunch, you don’t automatically go buy a hamburger and fries 
    							because it’s cheap. No, you consider other factors. You consider your health, the distance to the place 
    							where they sell the food, the waiting time for your food, the taste, your mood and desires. 
    							So you might first ask yourself: “Is this food healthy? Will it have a positive, or at least not negative, 
    							impact on my body?” and a myriad other questions before actually deciding. It’s no different 
    							when it comes to learning how to code. 
								Code is on the same level as food when it comes to our decision-making process.
                            </p>
                            <blockquote>
							    Because if food is what fuels our bodies, code is what fuels our industry
							</blockquote>
                    <figure>
                        <img alt="Blog Article Figure" src="img/project3.jpg">
                        <figcaption>Here is a caption for this picture</figcaption>
                    </figure>
                     <p>
							You are at the start of your coding adventure, but there is a massive amount of information, and tons of frameworks & technologies out there. So how do you select a path that enables you to put together a full stack application according to your current or future profile - entrepreneur, developer, tech manager.
						</p>
						<br>
						<p>
						    I am an expert developer with 10 years of experience in multiple stacks like Java, Ruby, Node.js and Python.								</p>
						<p>
						    I will give you the ultimate guide on how to get started in web development and what the technologies that you should focus on are according to your needs.
						</p>
						<br>
						<p>
							I will explain to you:</p>
						    <ul class="lead" style="list-style-type:square; list-style-position: inside; padding:0px 15px 0px 15px; ">
						        <li> The mindset of the web developer</li>
						        <li> The market of web development</li>
							    <li> A structure to know what to learn</li>
						        <li> How to know if Node.js is for you</li>
						        <li> How to know if ruby is for you</li>
								<li> How to know if Java is for you</li>
								<li> How to know if Python is for you</li>
							</ul>
							<br>
							<h3>The Mindset</h3>
							<p class="lead">Learn to code by following a path that makes sense for you</p>
							<p>
								I always hear people asking things like:<br> “What language should I learn to make money fast?”, or<br> “How can I learn programming in 3 months?”
							</p>
							<p>
								While legitimate questions, these questions are not the questions you should be asking. 
    							Like everything important in life, there’s a thinking process you must go through to obtain good results. 
    							For example, when deciding what to eat for lunch, you don’t automatically go buy a hamburger and fries 
    							because it’s cheap. No, you consider other factors. You consider your health, the distance to the place 
    							where they sell the food, the waiting time for your food, the taste, your mood and desires. 
    							So you might first ask yourself: “Is this food healthy? Will it have a positive, or at least not negative, 
    							impact on my body?” and a myriad other questions before actually deciding. It’s no different 
    							when it comes to learning how to code. 
								Code is on the same level as food when it comes to our decision-making process.
							</p>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>