<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MONGODEX</title>
    </head>
    <body>
        <div>This page will contain a form to submit a new person</div>
        <form action="/persons/create" method="POST">
            <input type="text" placeholder="Full name" name="fullName">
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Address" name="address">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>