<section class="error-page bg-primary fullscreen-element">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="jumbo"><%= code %></h1>
                <i class="icon icon-compass"></i>
                <h1><strong>Oh dear, we seem to have led you astray!</strong><br>Let's get back on track...</h1>
                <a href="/home" class="btn btn-primary btn-white" target="default">Take Me Home</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>
