
<!-- todo: capture emails, prompt for newsletter?  -->
<!-- todo: tracking  -->
<!-- todo:   -->

<!-- growth hacking apply modal -->
<div class="modal fade" id="ghApplyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- keeps the size in check -->
    <div class="modal-dialog">
      <!-- makes it prettier -->      
      <div class="modal-content">
        <div class="modal-header text-center">
          <b> GROWTH HACKING </b>
        </div>
        <div class="modal-body text-center">
            <!-- modify size of the modal here -->
            <iframe src="https://pipedrivewebforms.com/form/cc525eb326930d10e67f2939f7c7c8aa1187614" width="500" height="500" frameborder="0" allowtransparency="true" style="width: 100%;"></iframe>
        </div>
        
        <!-- -------------------------------------    a footer 
        <div class="modal-footer">
           stuff
        </div>
        -------------------------------------- -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog --> 
</div>
<!-- /.modal -->


<!-- full stack apply modal -->
<div class="modal fade" id="fsApplyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- keeps the size in check -->
    <div class="modal-dialog">
      <!-- makes it prettier -->      
      <div class="modal-content">
        <div class="modal-header text-center">
          <b> FULL STACK </b>
        </div>
        <div class="modal-body text-center">
            <!-- modify size of the modal here --> 
            <iframe src="https://pipedrivewebforms.com/form/facb31b28c9533b35ccd9d073ae17872" width="500" height="500" frameborder="0" allowtransparency="true" style="width: 100%;"></iframe>
        </div>
        <!-- -------------------------------------    a footer 
        <div class="modal-footer">
           stuff
        </div>
        -------------------------------------- -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog --> 
</div>
<!-- /.modal -->


<!-- two choice apply modal -->

<div class="modal fade" id="segmentedApply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- keeps the size in check -->
    <div class="modal-dialog">
      <!-- makes it prettier -->      
      <div class="modal-content">
        <div class="modal-header text-center">
          Thank you for applying!
        </div>
        <div class="modal-body text-center">
            <!-- a/b opportunities in thie section --><br>
            <button class="btn btn-primary" data-toggle="modal" href="#fsApplyModal">Full Stack</button>
            <button class="btn btn-primary" data-toggle="modal" href="#ghApplyModal">Growth Hack</button>
        </div>
        
        <!-- -------------------------------------    a footer 
        <div class="modal-footer">
           stuff
        </div>
        -------------------------------------- -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog --> 
</div>
<!-- /.modal -->


<div id="openModal" class="modalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div>	
        <a href="#close" title="Close" class="close">X</a>
        <!-- keeps the size in check -->
        <div class="modal-dialog">
          <!-- makes it prettier -->      
          <div class="modal-content">
            <!-- ---------------------------------       a header
            <div class="modal-header">
              stuff
            </div>
            ------------------------------------  -->
            <div class="modal-body">
                <!-- modify size of the modal here -->
                <div class="iframe-wrapper">
                    <iframe src="https://pipedrivewebforms.com/form/facb31b28c9533b35ccd9d073ae17872" width="500" height="500" frameborder="0" allowtransparency="true"></iframe>  
                </div>    
            </div>
            <!-- -------------------------------------    a footer 
            <div class="modal-footer">
               stuff
            </div>
            -------------------------------------- -->
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>


      