
    <!-- header on fullstack -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-body" style="margin:0; padding:0; line-height:0">
                    <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/6QhEf6Pc8eY?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    <div class="youtube-player" data-id="6QhEf6Pc8eY?showinfo=0&amp;rel=0&amp;modestbranding=1"></div> 

                </div>
            </div>
        </div>
    </div>
    
    
    <!-- gh partner company vids -->
    <div>
    
        <div name='english description' id="ghVid" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="IYHzfnIe99s?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/eAWVFacK3u4?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>

        <div name='english description' id="company1" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="IYHzfnIe99s?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='english description' id="company2" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="QEps4oDU-xc?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='english description' id="company3" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <iframe src="https://player.vimeo.com/video/184419028" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div name='english description' id="company4" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="Rytp86pr240?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='mentors-nadia' id="testimonial-2" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='mentors-nadia' id="testimonial-2" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='mentors-nadia' id="testimonial-2" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
    
    <!-- testimonials -->
    <div>

        <div name="quality-hashim" id="testimonial-1" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <!--<iframe id="cartoonVideo" width="100%" height="525" frameborder="0" allowfullscreen></iframe> -->
                        <!--<div class="youtube-player" data-id="2oUfqHvG_6g?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>-->
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div name='mentors-nadia' id="testimonial-2" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QiECdwej9Ow?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='techsupport-vlad' id="testimonial-3" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="4ofQJtZq4JM?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/4ofQJtZq4JM?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='flexibility-nicolas' id="testimonial-4" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                       <div class="youtube-player" data-id="JpJ6cavpM8Q?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/JpJ6cavpM8Q?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='superpowers-arivin' id="testimonial-5" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="-T5pz8HsoFE?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/-T5pz8HsoFE?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='differentiation-anu' id="testimonial-6" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="WB8bwjfb9aQ?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/WB8bwjfb9aQ?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name-'nodejs-anu' id="testimonial-7" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="pjTP6WIMQ3Y?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/pjTP6WIMQ3Y?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='confidence-arivin' id="testimonial-8" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="PdcBSdYCiz8?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/PdcBSdYCiz8?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='differentiation-nicolas' id="testimonial-9" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="0e3XU6A2-NA?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/0e3XU6A2-NA?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='futurproject-anu' id="testimonial-10" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="5BE_ZLJS_hM?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/5BE_ZLJS_hM?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='expectatiosn-anu' id="testimonial-11" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="QB2DR69zfig?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/QB2DR69zfig?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='goalsafterprogram-nicolas' id="testimonial-12" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="IAZhWmZqkl0?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/IAZhWmZqkl0?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div namd='mentorship-hashim' id="testimonial-13" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="5r5f4kBzCrw?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/5r5f4kBzCrw?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='motivation-vlad' id="testimonial-14" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="2SKv_DRSEIM?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/2SKv_DRSEIM?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='recommend-hashim' id="testimonial-15" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="js-lazyYT" data-youtube-id="oAWRMzOrmHA" data-width="auto" data-height="auto" data-parameters="rel=0"></div>
                        <!--<div class="youtube-player" data-id="oAWRMzOrmHA?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>-->
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/oAWRMzOrmHA?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='womenintech-nadia' id="testimonial-16" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="phAGFgaLedo?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/phAGFgaLedo?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div name='whyelium-nadia' id="testimonial-17" class="modal fade studentvideos">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body" style="margin:0; padding:0; line-height:0">
                        <div class="youtube-player" data-id="YW3T-gSshaY?showinfo=0&amp;rel=0&amp;modestbranding=1"></div>
                        <!-- <iframe id="cartoonVideo" width="100%" height="525" src="https://www.youtube.com/embed/YW3T-gSshaY?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    