<!-- Google Code for Student Applications form Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 960547096;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "MFYKCKbu7mcQmJKDygM";
var google_conversion_value = 2000.00;
var google_conversion_currency = "USD";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/960547096/?value=2000.00&amp;currency_code=USD&amp;label=MFYKCKbu7mcQmJKDygM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<section class="error-page bg-primary fullscreen-element">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="jumbo"><%= code %></h1>
                <i class="icon icon-compass"></i>
                <h1><strong>Thank you for applying!</strong><br>Just click below to go back to the homepage</h1>
                <a href="/home" class="btn btn-primary btn-white" target="default">Take Me Home</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>
